:root{
    --fuente-principal:'Inter', sans-serif;
    --color-principal:blueviolet;
    --color-claro:#fff;
    --color-secundario:#0A3871;
    --color-terciario:#1004b4;
    --color-neutro:#000000;
}

*{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--color-claro);
    font-family: var(--fuente-principal);
}

.title{
    padding-left: 612px;
    color: var(--color-principal);
    font-size: 2.5rem;
}

main {
    height: 100vh;
    background-color: var(--color-claro);
}


.container_principal{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    height: 850px;
    gap: 10px;
    background-color: var(--color-claro);
    padding: 10px; 
    overflow: hidden;
    
}


.item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 30px 20px ;
    background-color: var(--color-principal);
    justify-content: center;
    border: 2px solid var(--color-claro);
    border-radius: 32px;
    font-family: var(--fuente-principal);
}

.item:first-child{
    width: 75%;

}

.item:last-child{
    width: 25%;

}

.input-text{
    box-sizing: border-box;
    margin: 2rem;
    height: 500px;
    font-family: var(--fuente-principal);
    font-size: 32px;
    display: flex;
    align-items: flex-start; 
    text-align: left;
    padding: 10px; 
    resize: vertical; 
    overflow-y: auto; 
    white-space: pre-wrap;
    word-wrap: break-word; 
}

.container-btns{
    display: flex;
    margin: 30px 20px;
    justify-content: center;
}

.btn-encrip{
    width: 328px;
    height: 67px;
    margin: 0px 20px;
    background-color: #0A3871;
    color: var(--color-claro);
    border-radius: 24px;
    border: 1px;
    font-family: var(--fuente-principal);
    font-size: larger;
}

button.btn-encrip:hover {
    background-color:  var(--color-terciario);
    color: var(--color-claro);
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-desenc{
    width: 328px;
    height: 67px;
    margin: 0px 20px;
    background-color: var(--color-claro);
    color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    font-family: var(--fuente-principal);
    font-size: larger;
}

button.btn-desenc:hover {
    background-color:  var(--color-neutro);
    color: var(--color-claro);
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.item .res{
    position: absolute;
}
.container-res {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Variables creadas en la funcion agregarElemento*/
.valorFinal {
    font-size: 2rem;
    box-sizing: border-box;
    margin: 1.5rem;
    height: 18em;
    font-size: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 1rem; 
    max-width: 90%;
}

.tituloValorFinal{
    color: var(--color-claro);
}

.btn-copiar{
    width: 250px;
    height: 67px;
    margin: 0px 20px;
    background-color: var(--color-claro);
    color: var(--color-principal);
    border-radius: 24px;
    border: 1px;
    font-family: var(--fuente-principal);
    font-size: larger;
}

button.btn-copiar:hover {
    background-color:  var(--color-principal);
    color: var(--color-claro);
    transform: scale(1.05); 
    border: 2px solid #fff;
}
/*-----------------------------------*/